html, body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-size: 10px;
    height: 100%;
    width: 100%;
    position: relative;
}

/*
* Disable scrolling.
*/
.noscroll {
    overflow: hidden;
}


.ui-container {
    margin: 0 !important;
    height: 95%;
    width: 38%;
    position: fixed;
    bottom: 0;
    right: 0em;
    font-size: 10px;
}

/*
* Slightly under menu button.
*/
.on-top {
    position: fixed;
    z-index: 2147483647;
}

.ui-view {
    position: relative;
    height: 98%;
    width: 99%;
}

#ui-menu-button {
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 25px;
    -webkit-box-shadow: 0px 14px 50px -8px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 14px 50px -8px rgba(0,0,0,0.29);
    box-shadow: 0px 14px 50px -8px rgba(0,0,0,0.29);
    z-index: 2147483647;  /* Force menu button always on top. */
}

#ui-menu-button:hover {
    cursor: pointer;
}

.ui-card {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.06);
    border-radius: 0.2em;
    border: 0.1em solid hsl(0, 0%, 87%);
}

.ui-card#ui-main {
    color: #333;
    display: none;
    font-size: 10px;
    position: fixed;
    bottom: 55px;
    right: 60px;
    width: 450px;
    height: 88%;
    font-size: 10px;
    background-color: #fafafa;
    z-index: 9999999;
    -webkit-box-shadow: 0px 14px 50px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 14px 50px -4px rgba(0,0,0,0.41);
    box-shadow: 0px 14px 50px -4px rgba(0,0,0,0.41);
}

.ui-comment-section {
    height: 89%;
    overflow: scroll;
    border-bottom: 0.1em solid hsl(0, 0%, 87%);
    padding: 0.1em 1.5em;
}

.ui-card.comment {
    margin: 1.5em 2.2em 4.5em 0;
    min-height: 6em;
    background-color: #fff;
    line-height: 1.4em !important;
}

.ui-card.comment .comment-container {
    position: relative;
    margin: 1.6em 2em;
    display: flex;
    flex-direction: column;
}

.ui-card.comment .meta-section {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -0.75em;  /* Offset the extra margin from comment section 
                            paragraphs. */
}

.avatar {
}

.avatar img {
    position: absolute;
    border-radius: 50%;
    bottom: -4.2em;
    right: -4.5em;
    max-width: 4em;
}

.username {
    font-family: -apple-system, BlinkMacSystemFont, 
        "Segoe UI", "Roboto", "Oxygen", 
        "Ubuntu", "Cantarell", "Fira Sans", 
        "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 300;
    color: #C03A3C;
}

.comment-body {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 1.5em;
    line-height: 1.4em !important;
    font-weight: 400;
}


/**
* Circlular impression to make on UI card to line up with menu button.
*
* TODO: This doesn't work with transparency, so we won't use it for now.
*/
.ui-card .impression {
    position: absolute;
    bottom: -2.7em;
    right: -2.7em;
    height: 5em;
    width: 5em;
    border-radius: 2.5em;
    border: 0.1em solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border-top-color: hsl(0, 0%, 87%);
    transform: rotate(-45deg);
}
